
/*-----------------------------------------------------------------------
/*  Tema: R3|Fiude Agência de Inbound Marketing.
/*  Descrição: Style criado por R3|Fiude Agência de Inbound Marketing.
/*  Detalhes: Site desenvolvido com sistema interna R3|Controler e publicado em 22/02/2016.
/*  Version     : 1.1 - Inclusão de classe para aumentar o content à partir de tablet para 92%.
/*  Version     : 1.2 - Inclusão do Menu Slide Responsivo.
/*  Version     : 1.3 - Inclusão de classes para Botão topo ao rolar página e fixar elemento na página ao rolar a página.
/*  Version     : 1.4 - Inclusão no breakpoint de 480px linha de código transformando todos os boxes em 100%.
/*-----------------------------------------------------------------------*/

/*MENU DESKTOP E MOBILE*/
.nav-trigger {display: none;margin-top: 19px;}
.nav-trigger i {cursor: pointer;padding: 10px 15px;}
.nav-main {font-family: Oxygen, sans-serif; font-weight: 400;}
.nav-main ul {margin-top: 25px;}
.nav-main li {margin-left: 15px;}
/*.nav-main li:nth-of-type(7){background: #e07112; border-radius: 20px; padding: 6px 14px; }*/
.nav-main li:nth-of-type(7) a{color: #fff!important; text-shadow: none;}
.nav-main a {text-transform: uppercase; font-size: 0.95em; color: #172d62;}
.nav-mobile {position: relative;display: none;}
.nav-mobile ul {display: none;position: absolute;left: 0;right: 0;padding: 20px;}
.nav-mobile li {display: block;}
.nav-mobile a {display: block;}

.logo{width: 125px; padding-bottom: 4px; padding-top: 2px;}

/*.searchbox{ margin-top: -60px; position:relative; min-width:50px; width:0%; height:50px; float:right; overflow:hidden; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; -ms-transition: width 0.3s; -o-transition: width 0.3s; transition: width 0.3s;}
.searchbox-input{ top: 0; right: 0; border: 0; outline: 0; background: #ffffff; width: 100%; height: 50px; margin: 0; padding: 0px 55px 0px 20px; font-size: 16px; color: #ffad13; border: 1px solid #e8e7e7; border-radius: 35px;}
.searchbox-input::-webkit-input-placeholder { color: #ffad13;}
.searchbox-input:-moz-placeholder { color: #ffad13;}
.searchbox-input::-moz-placeholder { color: #ffad13;}
.searchbox-input:-ms-input-placeholder { color: #ffad13;}
.searchbox-icon,.searchbox-submit{ width:50px; height:50px; display:block; position:absolute; top:0;  font-size:16px; right:0; padding:0;  margin:0;  border:0; outline:0;  line-height:50px;  text-align:center;  cursor:pointer;  color:#3a3838;  border-radius: 50%;}
.searchbox-closed{ font-family: 'simple-line-icons'; content: "\e090";}
.searchbox-closed:after{ font-family: 'simple-line-icons'; content: "\e082";}
.searchbox-open{ width:100%;}
.byline{ position:absolute; top:150px; left:30%; text-align:center; font-size:18px;}
.byline a{ text-decoration:none; color: #d74b4b;}
.icon-open:after{font-family: 'simple-line-icons';  content: "\e090"; padding: 16px; background: #ffffff; padding: 18px; }
.icon-closed:after{font-family: 'simple-line-icons'; content: "\e082";}*/

.sticky {position: relative; z-index: 1; background: #fafafa;}
.sticky .box-content{width: 61%;}
.sticky .box-sidebar{width: 39%;margin-right: 0;}
.fixed { position: fixed; top:0; left:0;width: 100%; z-index: 101;}
.sticky.fixed { margin-top: 0; background-color: #fafafa;  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15); height: 75px;}
.sticky.fixed .logo{width: 92px; margin-top: -2px;}
.sticky .content{padding: 7px 0;}
.sticky.fixed .nav-main a{color: #24335f; text-shadow: none;}
.sticky.fixed .nav-main ul{margin-top: 12px; margin-bottom: 0;}
.sticky.fixed .nav-main li:nth-of-type(2){padding-top: 8px;}

.section-banner{ height: 500px; background: rgba(16, 38, 93, 0.59)!important; margin-top: 0px;}


.homebanner .btn{ background: #12265e; color: #fff; font-size: 1.2em; font-weight: 200!important; padding: 15px 52px; letter-spacing: 2px;}
.homebanner .btn:hover{background: #1f42a9; transition-duration: .5s;}
.homebanner h2{position: relative; margin-top: -125px; color: #12265e; font-size: 3em;}
.homebanner p, .homebanner a{position: relative!important; z-index: 9; margin-top: -13px; margin-bottom: 31px;} 
.homebanner p{font-size: 1.2em; color: #777575; font-weight: 200; font-family: 'Oxygen',sans-serif;} 
.box-banner{background: #fafafa; width: 76%; margin: auto; padding-left: 15px; padding-right: 15px; padding-top: 149px; padding-bottom: 50px; position: relative; z-index: 1; margin-top: 58px;}

.section-parallax{background-image: url(images/parallax.jpg); height: 280px; color: #fff; background-attachment: fixed; background-size: cover; background-repeat: no-repeat;}
.section-parallax h2{ text-transform: uppercase; font-weight: 600; letter-spacing: 2px;}
.section-parallax p{font-size: 1.2em; width: 70%;  margin: 0px auto 25px; color: #fafafa;}
.section-parallax .content{position: relative;}
.section-parallax .section-separator{margin-top: 264px;}

/*.section-midia{position: relative; z-index: 1;}*/
.section-midia .text{ background: #fafafa; padding: 28px; min-height: 154px; padding-bottom: 17px; padding-top: 5px; margin-bottom: -15px; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.section-midia h3{font-weight: 700; margin-bottom: 15px; font-size: 1em;}
.section-midia p{font-size: 0.9em;}

.section-destaques .box-3{box-shadow: -2px 1px 4px 0px rgba(197, 193, 193, 0.62); background: #fff; min-height: 455px; margin-bottom: 49px; padding: 50px; /*display: flex;-webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;*/ margin-bottom: 25px;}
.section-destaques i{ font-size: 3.7em; color: #153a96;}
.section-destaques h3{ font-size: 1.1em; margin-bottom: 15px;}
.section-destaques .destaque-item:before{ border-left: 62px solid #f5f4f4; border-bottom: 53px solid rgba(0, 0, 0, 0); content: ""; position: absolute; margin-left: -13.8%; margin-top: -50px;}
/*.section-destaques .destaque-more:before{ border-left: 417px solid #1f3875; border-bottom: 254px solid rgba(0, 0, 0, 0); content: ""; position: absolute; margin-left: -13.8%; margin-top: -50px;}*/
.section-destaques .pdt-more{background-image: url(images/back-pdt.jpg)!important; background-size: cover!important;}

.section-destaques .more{position: relative;}
.section-destaques .more i {color: #fff; font-size: 6em;}
.section-destaques .more h3 {color: #fff; font-size: 2em;}
.section-chamada {margin-top: 210px;}
.section-chamada .section-separator{margin-top: 175px;}
.section-chamada p{position: relative; z-index: 3;}

.footer-info {font-size: 0.95em; color: rgba(255, 255, 255, 0.83)!important;}
footer h2{ font-size: 1em; text-transform: uppercase;  letter-spacing: 1px; font-weight: 400; margin-top: 25px; color: #e07112;}
.footer-midia h2, .footer-mapa h2{border-bottom: 1px dotted #ccc;}
footer a{ color: rgba(255, 255, 255, 0.83); font-size: 0.95em;}
footer a:hover{ color: #4a5a88; transition-duration: 0.5s;}
footer .icon-arrow-right{font-size: 0.5em;}
footer i{color: #e07112;}
.footer-midia small{display: block;}
.logo-footer{width: 188px;}

.breadcrumb{background: #e2e0e0; border-bottom: 1px solid #cecccc;}
.breadcrumb ul{ font-size: 0.9em; margin-bottom: 0; text-align: center;}
.breadcrumb .content{padding: 20px 0;}
.breadcrumb h2{margin-bottom: 0; text-align: center; position: relative;}
.page_single .transparent{ background: rgba(210, 208, 208, 0.6); height: 207px;}
.header-interno{ background-image: url(images/parallax.jpg); height: 125px; background-size: cover; background-repeat: no-repeat;}

/*CONTEÚDO PÁGINA INTERNA*/
.page_content .title-section{border-bottom: 1px solid #ccc;}
.page_content .desc-section h3{font-size: 1.1em; font-weight: 600; margin-bottom: 5px;}
.page_content .desc-section p{font-size: 0.95em; margin-bottom: 5px;}
.page_content .desc-section li{ font-size: 0.95em; margin-bottom: 15px;}
.page_content iframe{float: left; margin-right: 25px;}
.box-produto .destaque-item:before{ border-left: 46px solid #122b61;  border-bottom: 38px solid rgba(0, 0, 0, 0); content: "";  position: absolute; margin-top: 0px; margin-left: 0;}
.box-sidebar.box-produto{ box-shadow: -2px 1px 4px 0px rgba(197, 193, 193, 0.62);}

/*PÁGINA PRODUTO*/
.sidebar-pdt{ background: #fafafa; min-height: 150px; padding: 20px; margin-top: 30px;}
.sidebar-pdt h4{ color: #122b61; font-weight: 600; margin-bottom: 12px;}
.sidebar-pdt i{font-size: 0.7em;}
.catalogo{ border: 1px solid #d6d1d1; overflow: auto; box-shadow: -1px -9px 20px 4px #dadada inset; height: 500px; text-align: center; padding: 64px 33px;  background: linear-gradient(to right,rgba(234, 234, 228, 0.22) 0,rgba(250, 250, 250, 0.29) 100%),linear-gradient(to right,rgba(199, 184, 184, 0.14) 0,rgba(226, 226, 226, 0.84) 100%); -webkit-text-fill-color: transparent;}
.wrap_catalogo{  padding: 18px; -webkit-text-fill-color: transparent; border-radius: 5px; background: -webkit-linear-gradient(top, #f7f7f7, #dcdcdc); border: 1px solid #e6e3e3;}
.wrap_catalogo::-webkit-scrollbar-thumb { background: #666; border-radius: 20px;}

/*POSTS*/
.box-aside{background-image: url(images/aside.jpg); border: 1px solid #e8e8e8;}
.box-aside ul{padding: 15px; position: relative;}
.box-aside h3{ background: #f5f4f4; margin-bottom: 5px; padding: 10px 15px; text-transform: uppercase; color: #2c4671; font-weight: 800; font-size: 1.1em;}
.box-aside a{color: #fff;}
.box-aside li{ padding-bottom: 5px; border-bottom: 1px solid #eee; padding-top: 5px;}
.paginator li { display: inline-block; padding: 5px 14px; background: #e7791c; margin-left: 7px; color: #fff; margin-top: 50px;}
ul.paginator{margin-left: 0;}
.post-breadcrumb{font-size: 0.9em; margin-bottom: 25px!important;}

/*Contato*/
.contato .box-sidebar{ background: #fafafa; padding: 25px; border: 1px solid #e8e8e8; margin-top: 38px;}
.marca-title{ color: #1d326a; font-weight: 600; font-size: 1.4em;}
.marca-subtitle{ color: #1d326a; font-weight: 400; font-size: 0.8em;}

.page_pdt .mob{display: none;}

.error { color: #ef1818; font-size: 0.8em; }




/*1366PX*/
@media (max-width: 85.375em){
    .section-destaques .destaque-more:before{border-left: 372px solid #1f3875;}
}

/*1280PX BREAKPOINT*/
@media (max-width: 80em){
    .page_single .box-3{width: 48%;}
    .homebanner h2{font-size: 2.5em;}
}

/*1130PX*/
@media (max-width: 70.625em){

}

.btnRec{ background: #e7791c; line-height: 300%; font-style: italic; text-align: center; text-decoration: #172d62; color: black; font-size: 2.5em; font-weight: 200!important; padding: 10px ; letter-spacing: 2px;}
.btnRec:hover{background-color: #FFFF71; color: black; border: #1f42a9 1px solid;transition-duration: 0.5s;}

/*1080PX*/
@media (max-width: 67.5em){
    .section-destaques .box-3{width: 48%;}
    .section-destaques .box-3:nth-of-type(3n+0) { margin-right: 2%!important;}
    .section-destaques .destaque-item:before{margin-left: -20.8%;}
    .transparent{height: 300px;}
    .section-parallax{height: 300px;}
    .section-parallax .section-separator{margin-top: 289px;}

    .page_single .box-content, .page_single .box-sidebar{width: 100%;}
    .page_single .box-3{margin-bottom: 50px;}
    .homebanner h2{font-size: 2.2em;}

    .page_pdt .pdt-info .box-sidebar{width: 36%;}
    .page_pdt .pdt-info .box-content{width: 60%;}

    .page_pdt .mob{display: block;}
    .page_pdt .desk{display: none;}

    .page_pdt .sidebar-pdt{width: 100%;}
    .page_pdt .wrap_content{width: 100%;}
}

/*960PX BREAKPOINT*/
@media (max-width: 60em){
    /*FUNÇÃO PARA OCULTAR/APARECER BOTÃO RESPONSIVO*/
    .nav-trigger {display: inline-block;background-color: #12265e;float: right;color:#fff;padding: 6px 4px; float: none;}
    .nav-trigger:hover{background: #1f42a9; transition-duration: .5s;}
    .nav-main {display: none; }
    .nav-mobile {display: block; }
    .header_nav{background-color: #eee;margin-top: 8px;}
    .header_nav a{color: #000;margin-bottom: 13px;border: rgba(84,90,95,0.4) 1px solid;background-color: rgba(256,256,256,0.3);padding: 10px 10px;font-weight: 400;font-size: 0.9em;text-align: center;}
    .header_nav a:hover{background-color: #1f42a9;color: #fff;border: #1f42a9 1px solid;transition-duration: 0.5s;text-decoration: none;}
    .header_nav li{margin: 5px 0; display: inline!important;}

    .box-banner{width: 92%; padding-left: 15px; padding-right: 15px;}
    .section-chamada .section-separator{margin-top: 202px;}
    .homebanner h2{font-size: 1.8em;}
}

/*830PX*/
@media (max-width: 51.875em){
    .sticky .box-sidebar{width: 100%; margin-top: -57px;}
    .sticky .nav-trigger{position: relative;}
}

/*780PX*/
@media (max-width: 48.75em){
    .home .section-midia .box-3{width: 66%; margin-left: 17%; margin-bottom: 50px;}
    footer .box-3{width: 100%;}
    footer .copyright .float-left, footer .copyright .float-right{float: none!important; text-align: center;}
    .banner-content{height: 335px!important;}
    .transparent-banner{height: 336px!important;}
    .section-banner{height: 335px!important;}
    .slick-prev, .slick-next{top: 25%!important;}
    .box-banner{margin-top: -139px;}

}

/*785PX */
@media (max-width: 49.0625em){.section-chamada .section-separator{margin-top: 263px;}}

/*700PX BREAKPOINT*/
@media (max-width: 43.75em){
    .box-banner{width: 97%;}
    .section-destaques .box-3{width: 100%; min-height: 220px;}
    .section-destaques .destaque-item:before{margin-left: -43%}
    .section-parallax p{width: 100%;}
    .section-parallax h2{font-size: 1.6em;}
    .page_single .box-3{width: 100%;}
    .page_content iframe{margin-bottom: 25px; width: 100%;}  
    .filter{width: 100%;}
    .page_pdt .wrap_content .box-sidebar, .page_pdt .wrap_content .box-content {width: 100%;}
    .page_pdt .wrap_content .box-sidebar{margin-bottom: 45px;}
    .pdt-info .box-sidebar{width: 100%!important; margin-bottom: 40px; margin-top: 0;}
    .pdt-info .box-content{width: 100%!important;}
    .cliente .box-2{width: 100%; margin-bottom: 50px;}
}

/*560PX BREAKPOINT*/
@media (max-width: 35em){
    .home .section-midia .box-3{width: 100%; margin-left: 0;}
    .section-parallax p{font-size: 1em;}
    .section-parallax h2{font-size: 1.5em;}
    .box-sidebar{width: 100%; margin-top: -55px;}
    .sticky.fixed .logo{margin-top: -5px;}
    .nav-trigger{position: relative;}
    .breadcrumb h2{font-size: 1.3em; font-weight: 500;}
    .page_single .box-sidebar{margin-top: 0;}
    .logo{margin-top: 54px;}
    .sticky.fixed .logo {
        margin-top: 55px;
    }
}

/*590PX*/
@media (max-width: 36.875em){
    .section-chamada{margin-top: 264px;}
    .section-chamada .section-separator{margin-top: 305px;}
    .homebanner .btn{font-size: 0.95em;}
}


/*480PX BREAKPOINT*/
@media (max-width: 30em){
    .box-2, .box-3, .box-4, .box-5, .box-6, .box-logomarca, .box-logomarca-complemento{width: 100%;}
    header .box-content{width: 52.5%;}
    header .box-sidebar{width: 44%;}
    .logo{margin-top: 61px; margin-bottom: 12px; width: 83px; padding-top: 7px;}
    .banner-content{height: 200px!important;}
    .transparent-banner{height: 200px!important;}
    .section-banner{height: 200px!important;}
    .slick-prev, .slick-next{top: 25%!important;}
    .box-banner{margin-top: -183px;}
    .homebanner h2{font-size: 1.3em;}
}


/*400PX*/
@media (max-width: 25em){
    .banner-content{height: 151px!important;}
    .transparent-banner{height: 151px!important;}
    .section-banner{height: 151px!important;}
    .slick-prev, .slick-next { top: 15%!important;}
    .box-banner { margin-top: -242px; }
}